<!DOCTYPE html>
<html>
    <head>
        <title>
            Basic way for Java Script
        </title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body class="container">
        <h1>Yell your breakfast</h1>
        <p>Live your Life</p>

        <form method="POST">
            <p>Enter your breakfast: <input name="breakfast"/></p>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>