<!DOCTYPE html>
<html>
    <head>
        <title>Yell your breakfast!</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body class="container">
        <h1>
            Yell your breakfast!
        </h1>
        <%= data.toUpperCase() + "!!!" %>
    </body>
</html>
